%h1 ユーザー一覧

%div.text-end
  = link_to '新しいユーザーを作成', new_user_path, class: 'btn btn-success mb-3'

- if @users.any?
  %table.table.table-striped
    %thead
      %tr
        %th ユーザー名
        %th メールアドレス
        %th 操作
    %tbody
      - @users.each do |user|
        %tr
          %td= user.username
          %td= user.email
          %td
            = link_to '詳細', user_path(user), class: 'btn btn-info btn-sm'
            = link_to '編集', edit_user_path(user), class: 'btn btn-warning btn-sm'
            = button_to '削除', user_path(user), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-danger btn-sm'
- else
  %p 現在、ユーザーが登録されていません。
