= form_with model: @user, url: users_path, local: true do |f|
  - if @user.errors.any?
    .alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :username, 'ユーザー名'
    = f.text_field :username, class: 'form-control'

  .form-group
    = f.label :email, 'メールアドレス'
    = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :password, 'パスワード'
    = f.password_field :password, class: 'form-control'

  .form-group
    = f.label :password_confirmation, 'パスワード（確認用）'
    = f.password_field :password_confirmation, class: 'form-control'

  %div
    = f.submit 'ユーザーを作成', class: 'btn btn-primary'
    = link_to '一覧に戻る', users_path, class: 'btn btn-secondary'
